body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    height: 100vh;
    margin: 20px;
    color: white;
    padding: 5px;
}
u{
    text-underline-offset: 10px; 
    text-decoration-thickness: 1px;
    
}
#count {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
    
}

h1{
    
    font-size: 80px;
}

button {
    background-color: white;
    color: black;
    border: 1px black;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 5px;
    
}
#clear{
    border: 1px solid white;
    color: white;
    background-color: black;
}

button:hover {
    background-color: white;
    color: black;
    border-radius: 1px solid black;
}

#error {
    display: none;
    color: red;
    margin-top: 30px;
    margin-bottom: 20px;
}
